#body {
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}
/*
#bg-color-jm1,
#bg-color-jm2 {
  background-color: #c7f6b6;
}

.color-btn {
  color: #fff9c2;
  font-size: 30px;
  font-weight: 1000;
} */

ul {
  list-style-type: none;
}
